---
import '../styles/global.css'
import '../styles/main.css'
import Layout from '../layouts/Layout.astro'
import Nav from '../components/Nav.astro'
import Bio from '../components/Bio.astro'
import Webs from '../components/Webs.astro'
import Designs from '../components/Designs.astro'
import Animations from '../components/Animations.astro'
import Experience from '../components/Experience.astro'
---

<Layout title="Welcome to Astro.">
	<Nav/>
	<main>
		<Bio/>
		<Webs/>
		<Designs/>
		<Animations/>
		<Experience/>
	</main>
</Layout>