<nav id="nav" class="nav">
  <img src="https://raw.githubusercontent.com/DR-Frontend/test-brandfactory/master/public/imgs/imagotipo.svg" alt="">
</nav>

<style>
  .nav{
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(193,251,159,1) 100%);
  }
  .nav img{
    height: 75px;
  }
</style>